# Nearest Restaurants in Madrid

In [13]:
# Dependencies
import pandas as pd
import numpy as np
import requests
import json

# Import the API key
from config import geoapify_key

In [26]:
# Load the restaurant ethnicities into a DataFrame
types_df = pd.read_csv("../Resources/ethnicities.csv")

# Display sample data
types_df.head()

  ethnicity
0   italian
1   chinese
2   mexican
3  japanese
4  american

In [ ]:
# reschedule df just name and reviewNum

In [27]:
# Set up additional columns to hold information
types_df["name"] = ""
types_df["address"] = ""
types_df["distance"] = ""

# Display sample data
types_df.head()

  ethnicity name address distance
0   italian
1   chinese
2   mexican
3  japanese
4  american

Find the closest restaurant of each type to the Plaza Mayor in Madrid, Spain

* Latitude: 40.415392

* Longitude: -3.7073743182788528
Kyoto
Lat = 35.0116
Lng = 135.7681

In [30]:
# Set the geographical coordinates
latitude = 35.0116
longitude = 135.7681

# Set the parameters for the type of search
limit = 20
radius = 1000
filters = f"circle:{longitude},{latitude},{radius}"
bias = f"proximity:{longitude},{latitude}"

# set up a parameters dictionary
params = {
    "filter":filters,
    "limit":limit,
    "bias":bias,
    "apiKey":geoapify_key    
}

# Set base URL
base_url = "https://api.geoapify.com/v1/geocode/autocomplete?text=YOUR_TEXT&format=json&apiKey=5411d289fc864cc0a585a62279dbef8e"
base_url

'https://api.geoapify.com/v1/geocode/autocomplete?text=YOUR_TEXT&format=json&apiKey=5411d289fc864cc0a585a62279dbef8e'

In [31]:
# Print a message to follow up the restaurant search
print("Starting restaurant search")

# Iterate through the types_df DataFrame
for index, row in types_df.iterrows():
    
    # Get the ethnicity type from the current DataFrame's row
    ethnicity = types_df.loc[index, "ethnicity"]
    # Add the current ethnicity type to the parameters
    params["categories"] = f"catering.restaurant.{ethnicity}"
   
    # Make an API request using the params dictionary
    restaurant = requests.get(base_url, params=params)
    
    # Convert the API response to JSON format
    restaurant = restaurant.json()
    
    # Grab the first restaurant from the results and store the details in the DataFrame
    try:
        types_df.loc[index, "name"] = restaurant["features"][0]["properties"]["name"]
        types_df.loc[index, "address"] = restaurant["features"][0]["properties"]["address_line2"]
        types_df.loc[index, "distance"] = int(restaurant["features"][0]["properties"]["distance"])
    except (KeyError, IndexError):
        # If no restaurant is found, set the restaurant name as "No restaurant found".
        types_df.loc[index, "name"] = "No restaurant found"
        # Set the distance column value to np.nan to allow sorting values
        types_df.loc[index, "distance"] = np.nan
        
    # Log the search results
    print(f"nearest {types_df.loc[index, 'ethnicity']} restaurant: {types_df.loc[index, 'name']}")

# Display sample data
types_df

Starting restaurant search
nearest italian restaurant: No restaurant found
nearest chinese restaurant: No restaurant found
nearest mexican restaurant: No restaurant found
nearest japanese restaurant: No restaurant found
nearest american restaurant: No restaurant found
nearest indian restaurant: No restaurant found
nearest asian restaurant: No restaurant found
nearest french restaurant: No restaurant found
nearest german restaurant: No restaurant found
nearest thai restaurant: No restaurant found
nearest greek restaurant: No restaurant found
nearest tex-mex restaurant: No restaurant found
nearest vietnamese restaurant: No restaurant found
nearest turkish restaurant: No restaurant found
nearest korean restaurant: No restaurant found
nearest spanish restaurant: No restaurant found
nearest lebanese restaurant: No restaurant found
nearest indonesian restaurant: No restaurant found
nearest portuguese restaurant: No restaurant found
nearest arab restaurant: No restaurant found
nearest russian restaurant: No restaurant found
nearest filipino restaurant: No restaurant found
nearest african restaurant: No restaurant found
nearest malaysian restaurant: No restaurant found
nearest caribbean restaurant: No restaurant found
nearest peruvian restaurant: No restaurant found
nearest bavarian restaurant: No restaurant found
nearest brazilian restaurant: No restaurant found
nearest persian restaurant: No restaurant found
nearest argentinian restaurant: No restaurant found
nearest oriental restaurant: No restaurant found
nearest balkan restaurant: No restaurant found
nearest moroccan restaurant: No restaurant found
nearest ethiopian restaurant: No restaurant found
nearest taiwanese restaurant: No restaurant found
nearest latin_american restaurant: No restaurant found
nearest hawaiian restaurant: No restaurant found
nearest irish restaurant: No restaurant found
nearest austrian restaurant: No restaurant found
nearest croatian restaurant: No restaurant found
nearest danish restaurant: No restaurant found
nearest bolivian restaurant: No restaurant found
nearest hungarian restaurant: No restaurant found
nearest european restaurant: No restaurant found
nearest jamaican restaurant: No restaurant found
nearest cuban restaurant: No restaurant found
nearest uzbek restaurant: No restaurant found
nearest nepalese restaurant: No restaurant found
nearest czech restaurant: No restaurant found
nearest syrian restaurant: No restaurant found
nearest afghan restaurant: No restaurant found
nearest malay restaurant: No restaurant found
nearest belgian restaurant: No restaurant found
nearest ukrainian restaurant: No restaurant found
nearest swedish restaurant: No restaurant found
nearest pakistani restaurant: No restaurant found

         ethnicity                 name address distance
0          italian  No restaurant found              NaN
1          chinese  No restaurant found              NaN
2          mexican  No restaurant found              NaN
3         japanese  No restaurant found              NaN
4         american  No restaurant found              NaN
5           indian  No restaurant found              NaN
6            asian  No restaurant found              NaN
7           french  No restaurant found              NaN
8           german  No restaurant found              NaN
9             thai  No restaurant found              NaN
10           greek  No restaurant found              NaN
11         tex-mex  No restaurant found              NaN
12      vietnamese  No restaurant found              NaN
13         turkish  No restaurant found              NaN
14          korean  No restaurant found              NaN
15         spanish  No restaurant found              NaN
16        lebanese  No restaurant found              NaN
17      indonesian  No restaurant found              NaN
18      portuguese  No restaurant found              NaN
19            arab  No restaurant found              NaN
20         russian  No restaurant found              NaN
21        filipino  No restaurant found              NaN
22         african  No restaurant found              NaN
23       malaysian  No restaurant found              NaN
24       caribbean  No restaurant found              NaN
25        peruvian  No restaurant found              NaN
26        bavarian  No restaurant found              NaN
27       brazilian  No restaurant found              NaN
28         persian  No restaurant found              NaN
29     argentinian  No restaurant found              NaN
30        oriental  No restaurant found              NaN
31          balkan  No restaurant found              NaN
32        moroccan  No restaurant found              NaN
33       ethiopian  No restaurant found              NaN
34       taiwanese  No restaurant found              NaN
35  latin_american  No restaurant found              NaN
36        hawaiian  No restaurant found              NaN
37           irish  No restaurant found              NaN
38        austrian  No restaurant found              NaN
39        croatian  No restaurant found              NaN
40          danish  No restaurant found              NaN
41        bolivian  No restaurant found              NaN
42       hungarian  No restaurant found              NaN
43        european  No restaurant found              NaN
44        jamaican  No restaurant found              NaN
45           cuban  No restaurant found              NaN
46           uzbek  No restaurant found              NaN
47        nepalese  No restaurant found              NaN
48           czech  No restaurant found              NaN
49          syrian  No restaurant found              NaN
50          afghan  No restaurant found              NaN
51           malay  No restaurant found              NaN
52         belgian  No restaurant found              NaN
53       ukrainian  No restaurant found              NaN
54         swedish  No restaurant found              NaN
55       pakistani  No restaurant found              NaN

In [6]:
# Sort restuls by distance
types_df = types_df.sort_values(by=["distance"])

# Display the top 10 nearest restaurants
types_df.head(10)

,ethnicity,name,address,distance
0,italian,La Fojetta,"Calle de la Escalerilla de Piedra, 2, 28005 Ma...",76
15,spanish,La Campana,"Calle Botoneras, 6, 28012 Madrid, Spain",76
2,mexican,Takos al Pastor,"Calle Botoneras, 7, 28012 Madrid, Spain",86
1,chinese,Tapas de Sichuan,"Cava de San Miguel, 3, 28005 Madrid, Spain",109
3,japanese,Sushi Bar,"Plaza del Comandante Las Morenas, 5, 28013 Mad...",141
14,korean,Gayagum,"Calle de Bordadores, 7, 28013 Madrid, Spain",157
32,moroccan,Marrakech,"Calle de las Hileras, 12, 28013 Madrid, Spain",229
25,peruvian,Kechua,"Calle de las Fuentes, 9, 28013 Madrid, Spain",236
52,belgian,Rincón Bruxelles,"Calle del Espejo, 28013 Madrid, Spain",252
33,ethiopian,Gonder,"Calle Grafal, 8, 28005 Madrid, Spain",255